@import "extra.css";
@import "textStyle.css";
@import "imageStyle.css";

.container{ 
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 4.5fr 1.5fr 0.1fr;
    grid-template-areas: 
    "header"
    "content"
    "side"
    "footer";
}

.header{ 
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.content{ 
    grid-area: content;
    padding-left: 3em;
    padding-right: 3em;
}

.side{ 
    grid-area: side;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer{ 
    grid-area: footer;
    background-color: #f5d4c3; 
    padding: 10px; 
}

.authorInfo{ 
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    flex-wrap: wrap;
    background-color: #f5d4c3;
    border-radius: 30% 10%;
    padding: 8%;
}

.socialSharing{ 
    background-color: #c8dbd7;
    border-radius: 30% 10%;
    padding: 8%;
}

/* Tablets and Laptops */
@media(min-width:426px){
    .container{ 
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 8fr 0.1fr;
        grid-template-areas: 
        "header header"
        "content side"
        "footer footer";
    }
} 